/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
/* general */
.bold {
  font-weight: 900;
}

/* -------------------- */
.repo-card-content p {
  padding: 0.4rem;
}
